.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.topHeading {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.form_container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.input_field_wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.text-field {
  width: 250px;
  height: 30px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(80, 79, 79);
  border-radius: 5px;
  padding: 0 10px;
}

.text-field_address {
  width: 250px;
  border-radius: 5px;
  resize: none;
  font-size: 18px;
  font-weight: 700;
  color: rgb(68, 67, 67);
  padding:  10px;  
}

#name_blue {
  color: rgb(33, 149, 243);
  font-weight: 800;
}


.input_field {
  display: flex;
  flex-direction: column;
  align-items: start;
}


input:focus {
  outline-color: rgb(70, 168, 248);
}

textarea:focus {
  outline-color: rgb(70, 168, 248);
}